*~
*.swp
*.retry

/*.box
/.ssh-config
/.vagrant
/shared

# Variable files containing secrets, keys, etc
# see <file>.example
inventories/group_vars/*_secrets

# Generated Dynamicly
inventories/hosts.vm/hosts
inventories/hosts.vm/groups

# certificates
roles/sensu/files/ssl/client/
roles/sensu/files/ssl/server/
roles/sensu/files/ssl/sensu_ca/*
!roles/sensu/files/ssl/sensu_ca/openssl.cnf

# GPG Key(s)
roles/srvbak/files/*asc
