#!/bin/bash
{% if ansible_virtualization_type == "openstack" %}
cp -f /etc/resolv.conf.google /etc/resolv.conf
{% endif %}
{% if ansible_distribution == "Ubuntu" and ansible_distribution_release == "bionic" %}
[[ ! -e /etc/ntp.conf ]] || systemctl restart ntp.service
{% endif %}
hostname {{ default_servername }}
exit 0
