nullmailer nullmailer/defaultdomain string {{ nullmailer.defaultdomain }}
nullmailer nullmailer/adminaddr string {{ nullmailer.adminaddr }}
nullmailer nullmailer/relayhost string {{ nullmailer.smtp.host }} smtp
nullmailer shared/mailname string {{ default_servername }}
