<center>
<b>stuff</b>
<br><br><br>
<a href="http://monitor.{{ ansible_all_ipv4_addresses[1] }}.xip.io/sensu/">Sensu</a></br>
<a href="http://monitor.{{ ansible_all_ipv4_addresses[1] }}.xip.io/netdata/monitor/">Netdata</a></br>
<a href="http://monitor.{{ ansible_all_ipv4_addresses[1] }}.xip.io/graphite/">Graphite-web</a></br>
<a href="http://monitor.{{ ansible_all_ipv4_addresses[1] }}.xip.io/grafana/">Grafana</a></br>
</center>
