# Froxlor's default is to allow connect from all
# Let's limit that to just localhost.
DROP USER froxlor@{{ frox_ip.stdout }};

# Update config to switch to PHP-FPM
UPDATE panel_fpmdaemons SET reload_cmd = 'systemctl restart php72-php-fpm.service' WHERE id = 1;
UPDATE panel_fpmdaemons SET config_dir = '/etc/opt/remi/php72/php-fpm.d/' WHERE id = 1;

UPDATE panel_settings SET value = 1 WHERE settinggroup = 'phpfpm' AND varname = 'enabled';
UPDATE panel_settings SET value = 1 WHERE settinggroup = 'phpfpm' AND varname = 'enabled_ownvhost';
UPDATE panel_settings SET value = 'froxlocal' WHERE settinggroup = 'phpfpm' AND varname = 'vhost_httpuser';
UPDATE panel_settings SET value = 'froxlocal' WHERE settinggroup = 'phpfpm' AND varname = 'vhost_httpgroup';
UPDATE panel_settings SET value = '2' WHERE settinggroup = 'phpfpm' AND varname = 'defaultini';
UPDATE panel_settings SET value = 1 WHERE settinggroup = 'system' AND varname = 'froxlordirectlyviahostname';
UPDATE panel_settings SET value = 'systemctl restart php72-php-fpm.service' WHERE settinggroup = 'phpfpm' AND varname = 'reload';
UPDATE panel_settings SET value = 'systemctl reload nginx.service' WHERE settinggroup = 'system' AND varname = 'apachereload_command';
UPDATE panel_settings SET value = 'systemctl reload crond.service' WHERE settinggroup = 'system' AND varname = 'crondreload';
# UPDATE panel_settings SET value = '/etc/nginx/conf.d/' WHERE settinggroup = 'system' AND varname = 'apacheconf_vhost';
# UPDATE panel_settings SET value = '/etc/nginx/conf.d/' WHERE settinggroup = 'system' AND varname = 'apacheconf_diroptions';
UPDATE panel_settings SET value = '/etc/opt/remi/php72/php-fpm.d/' WHERE settinggroup = 'phpfpm' AND varname = 'configdir';

# Only allow mysql access on localhost
UPDATE panel_settings SET value = '127.0.0.1,localhost' WHERE settinggroup = 'system' AND varname = 'mysql_access_host';
